.kodhub_reporter-report-edit {
    textarea[name=query] {
        background: #e2e4e7;
        color: #000000;
        min-height: 250px;
        font-family: monospace;
        font-size: 15px;
    }
}
