.kodhub_reporter-report-edit {
    textarea[name=query] {
        background: #e2e4e7;
        color: #000000;
        min-height: 250px;
        font-family: monospace;
        font-size: 15px;
    }
}


.kodhub-reporter-generate-report-container {
    display: flex;

    form {
        display: flex;
        width: 100%;

        div {
            margin-right: 10px;
            width: 31%;
        }

        .form-group {
            margin-bottom: 10px;
            label {
                font-weight: 600;
            }
            input {
                width: 300px;
            }
        }

        .right-container {
            .log-container {
                width: 100%;
                padding: 15px;
                overflow-wrap: break-word;
            }

            .log-container.error {
                background: black;
                color: red;
            }

            .log-container.success {
                background: black;
                color: green;
            }
        }
    }
}
