<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="kodhub_reporter" id="kodhub_reporter">
			<module before="Magento_Backend" name="Kodhub_Reporter"/>
		</route>
	</router>
</config>
