<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="reporter" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
			<label>Reporter Configuration</label>
            <tab>kodhub</tab>
			<resource>Kodhub_Reporter::config_kodhub_reporter</resource>
            <group  id="general" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="1" translate="label">
                <label>General Configuration</label>
                <field id="file_clear_period" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="2" translate="label" type="select">
                    <label>File Clear Period</label>
                    <comment>Delete files created at greater than value.</comment>
                    <source_model>Kodhub\Reporter\Model\Config\Source\DayPeriod</source_model>
                </field>
            </group>

			<group id="cron" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Cron Configuration</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Cron Status</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="debug_mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Debug Mode</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="debug_email_list" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Debug Email List</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
